<!-- Modal -->
<div class="modal fade" id="modalPurchasePayments" tabindex="-1" role="dialog" aria-labelledby="modalpurchasePaymentsLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal-purchasePayments-title"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body-purchasePayments modal-body" id="modal-body-purchasePayments">
      </div>
      <div class="modal-footer" id="modal-footer-purchasePayments">
      </div>
    </div>
  </div>
</div>
